@page
@model AutoCenter.Web.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/account/ForgotPassword.css" asp-append-version="true" />
}

<div class="card">
    <div class="main">
        <h3>Forgot your password?</h3>
        <p>No worries — enter your email and we’ll send you a secure link to reset your password.</p>
    </div>
    @if (TempData["StatusMessage"] is string msg)
    {
        <div class="status-message">
            @msg
        </div>
    }
    <form method="post" class="form">

        <div asp-validation-summary="All" class="text-danger"></div>


        <div class="field">
            <label class="field__label" asp-for="Email">Email</label>
            <input
                   asp-for="Email"
                   type="email"
                   class="field__input"
                   autocomplete="email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-full">
            Send reset link
        </button>
    </form>
</div>
